/* Tailwind theme */
/* https://github.com/tailwindlabs/tailwindcss/blob/next/packages/tailwindcss/theme.css */

/* Preflight */
/* https://github.com/tailwindlabs/tailwindcss/blob/master/src/css/preflight.css */
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  /* Colors */
  --color-dark: #1b120c;
  --color-dark-muted: #342e2a;

  --color-choco-light: #f7c48b;
  --color-coral: #ef8354;

  /* Fonts */
  --font-family-cursive: "Calistoga", serif;

  /* Width */
  --width-prose: 85ch;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  --track: var(--scrollbar-track, transparent);
  --thumb: var(--scrollbar-thumb, var(--color-slate-200));

  /* Firefox, Chrome, Edge */
  scrollbar-color: var(--thumb) var(--track);
  scrollbar-width: thin;

  /* Safari */
  & ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  & ::-webkit-scrollbar-track {
    background: var(--track);
  }

  & ::-webkit-scrollbar-thumb {
    background-color: var(--thumb);
    border-radius: var(--radius-md);
    border: 1px solid var(--track);
  }
}

::marker {
  @apply text-coral inline-block;
}

ul,
ol {
  @apply m-4 list-inside;
}

ol {
  @apply list-decimal;
}

ul {
  @apply list-[square];
}

.prose {
  @apply bg-dark text-slate-200 [--tw-prose-headings:var(--text-slate-100)];

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @apply font-cursive text-center;
  }

  & h1 {
    @apply mt-2 mb-7 text-3xl leading-none md:mt-3 md:mb-8 md:text-4xl;
  }

  & h2 {
    @apply mt-2 mb-7 text-2xl leading-none md:mt-3 md:mb-8 md:text-3xl;
  }

  & h3 {
    @apply mt-2 mb-6 text-xl md:mt-3 md:mb-7 md:text-2xl;
  }

  & h4 {
    @apply mt-2 mb-5 text-lg md:mt-3 md:mb-6 md:text-xl;
  }

  & h5 {
    @apply mt-2 mb-5 text-lg font-bold md:mt-3;
  }

  & h6 {
    @apply mt-2 mb-5 text-base font-bold md:mt-3;
  }

  & p,
  & ul {
    @apply my-5 leading-6;
  }

  &:is(p, h1, h2, h3, h4, h5, h6) {
    /* Line break inside words instead of overflowing */
    overflow-wrap: break-word;
  }

  & strong {
    @apply text-teal-500;
  }

  & blockquote {
    @apply border-coral text-white;
  }

  & .lead {
    @apply text-coral;
  }

  & li {
    @apply mr-4 mb-2;
  }

  & li > p:first-child {
    @apply inline;
  }

  & :is(ul, ol) :is(ul, ol) {
    @apply mt-2;
  }

  & code {
    &::before,
    &::after {
      content: "";
    }
  }

  & .shiki {
    @apply mt-0 overflow-x-auto rounded px-8;

    &.dark-plus {
      background-color: color-mix(
        in srgb,
        var(--color-dark-muted, #342e2a) 80%,
        transparent
      ) !important;
    }
  }

  & :where(:not(.shiki, pre)) > code {
    @apply bg-dark-muted/80 rounded py-0.5 px-1 text-sky-300;
  }

  & a,
  a code {
    @apply text-coral rounded-sm underline underline-offset-4;
  }

  & figcaption {
    @apply mt-2 mx-auto max-w-[80%] text-center text-xs text-gray-100;
  }

  & hr {
    @apply my-8 md:my-12;
    border-top: 1px solid var(--color-coral);
  }

  & table {
    @apply w-full overflow-hidden rounded text-sm outline outline-1 outline-gray-200;

    & thead {
      @apply border-b;
    }

    & th {
      @apply text-left font-medium;
    }
    & td,
    & th {
      @apply py-3.5 px-4;
    }
    & tbody tr:not(:last-of-type) {
      @apply border-b;
    }
    & tbody tr:hover {
      @apply text-dark bg-gray-100 opacity-90;
    }
  }
}
